html.body{
    margin: 0;
    padding: 0;
}
body{
    padding: 15px;
    background-color: #F0F2F5;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
}
#btnAddCate{
    margin-top: 8px;
}
#form-add,
#form-edit{
    padding-top:20px ;
    padding-right: 30px;
}